<nav id="sidebar-icon-links">
  <a id="scholar-link"
     class="icon" title="Google Scholar" aria-label="Google Scholar"
     href="https://scholar.google.com/citations?user=GflY-_gAAAAJ&hl=ko" target="_blank">
    {% include svg/Google-Scholar.svg %}
  </a>
  <a id="linkedin-link"
     class="icon" title="LinkedIn" aria-label="LinkedIn"
     href="https://www.linkedin.com/in/seongjun-kang-309647262/" target="_blank">
    {% include svg/LinkedIn.svg %}
  </a>
  <a id="youtube-link"
     class="icon" title="Youtube" aria-label="Youtube"
     href="https://www.youtube.com/channel/UCmVL3NEjQe9m6zM13Z6EauQ" target="_blank">
    {% include svg/Youtube.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
