<nav id="sidebar-icon-links">
  <a id="scholar-link"
     class="icon" title="Google Scholar" aria-label="Google Scholar"
     href="https://scholar.google.com/citations?user=GflY-_gAAAAJ&hl=ko">
    {% include svg/Google-Scholar.svg %}
  </a>
  <a id="cv-link"
     class="icon" title="CV" aria-label="CV"
     href="https://drive.google.com/file/d/1MHmKXxcaqUUGL_nxbkyCWML_Y7E9a86v/view">
    {% include svg/CV.svg %}
  </a>
  <a id="linkedin-link"
     class="icon" title="LinkedIn" aria-label="LinkedIn"
     href="https://www.linkedin.com/in/seongjun-kang-309647262/">
    {% include svg/LinkedIn.svg %}
  </a>
  <a id="youtube-link"
     class="icon" title="Youtube" aria-label="Youtube"
     href="https://www.youtube.com/channel/UCmVL3NEjQe9m6zM13Z6EauQ">
    {% include svg/Youtube.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
